# Ignore CMake build files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install/

# Ignore build directories
build/
Debug/
Release/
out/

# Ignore object files and executable binaries
*.o
*.a
*.so
*.dylib
*.exe
*.out
*.app

# Ignore IDE-specific files
.vscode/
.idea/
*.user
*.userosscache
*.suo
*.swp
*.iml

# Ignore OS-specific files
.DS_Store         # macOS
Thumbs.db         # Windows

# Ignore backup files
*~
*.bak
*.tmp
